.omf-wrapper {
    box-shadow: 0 0.3em 0.8em darker-shift($color-lightgrey, 'shadow');

    // TODO : gestion padding bottom + left-right à revoir
}

.omf-header {
    position: relative;
    text-align: center;

    &__breadcrumb {
        position: absolute;
        top: 2em;
        left: 2em;
        z-index: 1;
        color: lighten($color-darkgrey, 10%);

        @media only screen and (width <=map-get($breakpoints, mobile)) {
            left: 1em;
        }
    }
}

.omf-search,
.omf-restaurants-list {
    background: $color-lightgrey;
}

.omf-search {
    padding-bottom: 3em;
}

.omf-howto,
.omf-restaurants-list {
    padding: 3em 1.5em 4em 1.5em;
}

.omf-restaurants-list {
    margin: 0;
}

.omf-howto__steps {
    width: 100%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex-direction: row;
        gap: 2em;
    }
}

.omf-restaurants-list__cards {
    width: 100%;
    display: flex;
    padding: 2em 1.5em;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.omf-restaurant {
    display: flex;
    position: relative;
    flex-direction: column;
}

.omf-restaurant-wrapper {
    position: relative;
    margin-top: 15em;
    padding: 1em 1.5em 4em 1.5em;
    border-radius: 3em 3em 0 0;
    background: $color-lightgrey;
}

// TODO : redimensionnement image media query
.omf-restaurant-img {
    position: absolute;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.omf-restaurant__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.75em;
    padding-bottom: 2em;

    >div {
        margin-left: 1em;
    }
}

.omf-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
    }


    &__category {
        display: flex;
        flex-direction: column;
        gap: 1em;

        @media only screen and (width > map-get($breakpoints, tablets)) {
            flex: 1 0 25%;
        }
    }
}

.omf-category-title {
    >h3 {
        margin: 0;
    }
}

.underline {
    width: 3.125em;
    margin: 0.5em 0 1em 0;
    padding: 0;
    border-top: 3px solid $color-tertiary;
}

.omf-restaurant__order {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}