.omf-wrapper {
    box-shadow: 0 0.3em 0.8em darker-shift($colour-lightgrey, 'shadow');

    article,
    section {
        padding-bottom: 4em;
    }
}

.omf-search,
.omf-restaurants {
    background: $colour-lightgrey;
}

.omf-howto,
.omf-restaurants {
    padding: 3em 1.5em 4em 1.5em;
}

.omf-restaurants {
    margin: 0;
}

.omf-howto__steps {
    width: 100%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex-direction: row;
        gap: 2em;
    }
}

.omf-restaurants__cards {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}