.omf-wrapper {
    position: relative;
    box-shadow: 0 0.3em 0.8em darker-shift($color-lightgrey, 'shadow');
}

.omf-header {
    position: relative;
    text-align: center;

    &__breadcrumb {
        position: absolute;
        top: 2em;
        left: 2em;
        z-index: 1;
        color: lighten($color-darkgrey, 10%);

        @media only screen and (max-width:map-get($breakpoints, mobile)) {
            left: 1em;
        }

        @media only screen and (min-width:map-get($breakpoints, desktop_S)) {
            top: 2.75em;
        }

        @media only screen and (min-width:map-get($breakpoints, desktop_L)) {
            top: 3.25em;
        }
    }
}