.omf-footer__list {
    li {
        line-height: 2em;
    }

    i {
        display: inline-block;
        width: 1em;
        margin-right: 1em;
    }

    @media only screen and (width >=map-get($breakpoints, desktop_S)) {
        padding-bottom: 3em;

        >li {
            display: inline-block;
            padding-right: 2em;
        }

        i {
            margin-right: 0.75em;
        }
    }
}