@keyframes spinner_fadeout {
  0% {
    background: #f1f1f1;
    z-index: 3;
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
    background: #f1f1f1;
  }
  100% {
    z-index: 3;
    opacity: 0;
  }
}
@keyframes spinner_color {
  0% {
    background: #9356DC;
  }
  33.33% {
    background: rgba(147, 86, 220, 0.5);
  }
  100% {
    background: #9356DC;
  }
}
@keyframes spinner_rotate {
  0%, 33.33% {
    transform: rotate(0deg) translate(-25px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-25px) rotate(-360deg);
  }
}
@keyframes dish_card_fadein {
  0% {
    opacity: 0;
    transform: translate(0, 1.5em);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    color: #FF79DA;
  }
  85% {
    font-size: 1.8em;
  }
  90% {
    font-size: 2em;
  }
  95% {
    font-size: 1.6em;
  }
  100% {
    font-size: 1.8em;
    opacity: 1;
    color: #9356DC;
  }
}
* {
  box-sizing: border-box;
}

header {
  background: #fff;
  padding: 1em 0;
}
header > h1 {
  margin: 0;
  padding: 0;
}
@media only screen and (width >= 1140px) {
  header {
    padding: 1.5em 0;
  }
  header > h1 {
    font-size: 2.5em;
  }
}
@media only screen and (width >= 1440px) {
  header > h1 {
    font-size: 3em;
  }
}

body {
  width: 100%;
  max-width: 1980px;
  margin: auto;
}

article {
  padding-bottom: 4em;
}

footer {
  background: #2c2c2c;
  padding: 0 1.5em;
}
@media only screen and (width >= 1140px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

body,
input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
footer > h2 {
  font-family: "shrikhand", "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  margin-top: 0;
  padding-top: 1rem;
}

footer {
  color: #fff;
}

input {
  font-weight: 550;
}

.omf-restaurant__title {
  font-size: 1.25em;
}

.omf-category-title > h3 {
  font-weight: 200;
  color: #5f5f5f;
}

.step {
  position: relative;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
  padding: 1.5em 0;
  border-radius: 1.5em;
  background: #f4f4f4;
  text-align: center;
  box-shadow: 0 0.3em 0.8em #bebebe;
}
.step > i {
  display: block;
  padding-left: 2em;
  color: #b1b1b1;
}
.step > p {
  font-weight: 600;
  padding-right: 0.5em;
}
.step__badge {
  width: 2em;
  height: 2em;
  padding-top: 0.5em;
  position: absolute;
  left: -1em;
  border-radius: 1em;
  background: #9356DC;
  text-align: center;
  color: #fff;
}
.step:hover {
  background: #f2eafb;
}
.step:hover > i {
  color: #9356DC;
}
@media only screen and (width > 1440px) {
  .step {
    max-width: 520px;
  }
}

.omf-button {
  height: 3em;
  width: 15.625em;
  padding: 0 1.5em;
  border: transparent;
  border-radius: 2em;
  text-align: center;
  font-size: 1em;
  font-weight: 550;
  color: #fff;
  outline: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 0.3em 0.8em #bebebe;
}
.omf-button:hover {
  background-image: linear-gradient(#ff88de, #9b63df);
  box-shadow: 0 0.3em 0.8em #8b8b8b;
}

.omf-homecard {
  height: 260px;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  background: #fff;
  box-shadow: 0 0.3em 0.8em #cccccc;
}
.omf-homecard .omf-heart {
  padding-top: 0.5em;
  z-index: 2;
}
.omf-homecard__link {
  border-radius: 2em;
}
.omf-homecard__img {
  height: 70%;
  width: 100%;
  border-radius: 2em 2em 0 0;
  overflow: hidden;
}
.omf-homecard__badge {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  padding: 0.5em 0.75em;
  border-radius: 0.2em;
  background: #99E2D0;
  color: #278870;
}
.omf-homecard__badge > p {
  margin: 0;
  font-size: 0.75em;
  font-weight: 550;
  text-align: center;
}
.omf-homecard__info {
  position: relative;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}
.omf-homecard__info h3 {
  margin: 0.1em 0 0.3em 0;
}
.omf-homecard__info p {
  margin: 0.1em 0 0 0;
}
@media only screen and (width > 768px) {
  .omf-homecard {
    flex: 40%;
  }
}
@media only screen and (width >= 1440px) {
  .omf-homecard {
    height: 350px;
    max-width: 800px;
  }
  .omf-homecard__info {
    padding: 1em 1.5em;
  }
}

.omf-dish-card {
  width: 100%;
  position: relative;
  padding-left: 1.5em;
  display: flex;
  justify-content: space-between;
  border-radius: 1em;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0.3em 0.8em #bebebe;
  animation: dish_card_fadein 1500ms 1 ease-out;
  animation-fill-mode: backwards;
}
.omf-dish-card:nth-of-type(3) {
  animation-delay: 200ms;
}
.omf-dish-card:nth-of-type(4) {
  animation-delay: 400ms;
}
.omf-dish-card:nth-of-type(5) {
  animation-delay: 600ms;
}
.omf-dish-card__info {
  flex: 1 1 0;
  min-width: 0;
  padding: 0.5em 0;
}
.omf-dish-card__info > h4 {
  padding: 0.75em 0 0.3em 0;
}
.omf-dish-card__info > h4,
.omf-dish-card__info > p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.omf-dish-card__check {
  display: flex;
}
.omf-dish-card__check > .omf-price {
  padding-top: 2.75em;
  padding-right: 1em;
}
.omf-dish-card__check > .omf-price > p {
  margin: 0;
  font-weight: 600;
}
.omf-dish-card__check > .omf-checked {
  width: 0px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background: #99E2D0;
  transition: all 0.5s ease-in-out;
}
.omf-dish-card__check > .omf-checked::after {
  display: inline-block;
  padding: 0.5em;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 1.75em;
  text-align: center;
  vertical-align: bottom;
  transition: all 0.5s ease-in-out;
  transform: rotate(-360deg);
}
.omf-dish-card:hover .omf-checked {
  width: 60px;
}
.omf-dish-card:hover .omf-checked::after {
  transform: rotate(360deg);
}

.omf-heart {
  flex-shrink: 0;
  font-size: 22px;
}
.omf-heart::before {
  display: inline-block;
  padding-bottom: 0.2em;
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.75em;
  text-align: center;
}
.omf-heart:hover::before {
  font-weight: 900;
  color: #9356DC;
  animation: heart 500ms 1 ease-in;
}

.omf-link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.omf-spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -3;
  background: transparent;
  animation: spinner_fadeout 3000ms;
}
.omf-spinner__circle {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  animation: spinner_rotate 3000ms infinite ease-in, spinner_color 3000ms infinite ease-in;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: -17.5px 0 0 -17.5px;
}
.omf-spinner__circle:nth-of-type(1) {
  opacity: 0.3;
  animation-delay: -250ms;
}
.omf-spinner__circle:nth-of-type(2) {
  opacity: 0.4;
  animation-delay: -500ms;
}
.omf-spinner__circle:nth-of-type(3) {
  opacity: 0.5;
  animation-delay: -750ms;
}
.omf-spinner__circle:nth-of-type(4) {
  opacity: 0.6;
  animation-delay: -1000ms;
}
.omf-spinner__circle:nth-of-type(5) {
  opacity: 0.7;
  animation-delay: -1250ms;
}
.omf-spinner__circle:nth-of-type(6) {
  opacity: 0.8;
  animation-delay: -1500ms;
}

.omf-wrapper {
  position: relative;
  box-shadow: 0 0.3em 0.8em #bebebe;
}

.omf-header {
  position: relative;
  text-align: center;
}
.omf-header__breadcrumb {
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 1;
  color: #464646;
}
@media only screen and (width <= 480px) {
  .omf-header__breadcrumb {
    left: 1em;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form > h2 {
  margin: 2em 0 0.5em 0;
}
.form > p {
  margin: 0.5em 0 2em 0;
  font-weight: 500;
}
.form__input-text-wrapper > input {
  height: 3em;
  padding: 0 1.5em;
  outline: none;
  border: transparent;
  background: transparent;
  text-align: center;
}
.form__input-text-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d8d8d8;
  box-shadow: inset 0 0.3em 0.2em #bebebe;
}
.form__input-text-wrapper > input {
  width: 160px;
  padding-left: 0.5em;
}
.form__input-text-wrapper > i,
.form__input-text-wrapper > input {
  color: #464646;
}

.omf-footer__list li {
  line-height: 2em;
}
.omf-footer__list i {
  display: inline-block;
  width: 1em;
  margin-right: 1em;
}
@media only screen and (width >= 1140px) {
  .omf-footer__list {
    padding-bottom: 3em;
  }
  .omf-footer__list > li {
    display: inline-block;
    padding-right: 2em;
  }
  .omf-footer__list i {
    margin-right: 0.75em;
  }
}

.omf-search,
.omf-restaurants-list {
  background: #f1f1f1;
}

.omf-search {
  padding-bottom: 3em;
}

.omf-howto,
.omf-restaurants-list {
  padding: 3em 1.5em 4em 1.5em;
}

.omf-howto {
  background: #fff;
}

.omf-restaurants-list {
  margin: 0;
}

.omf-howto__steps {
  width: 100%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
@media only screen and (width > 768px) {
  .omf-howto__steps {
    flex-direction: row;
    gap: 2em;
  }
}
@media only screen and (width >= 1440px) {
  .omf-howto__steps {
    justify-content: space-between;
  }
}

.omf-restaurants-list__cards {
  width: 100%;
  display: flex;
  padding: 2em 0;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
}
@media only screen and (width > 768px) {
  .omf-restaurants-list__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.omf-restaurant {
  display: flex;
  position: relative;
  flex-direction: column;
}

.omf-restaurant-wrapper {
  position: relative;
  margin-top: 15em;
  padding: 1em 1.5em 4em 1.5em;
  border-radius: 3em 3em 0 0;
  background: #f1f1f1;
}

.omf-restaurant-img {
  position: absolute;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.omf-restaurant__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.75em;
  padding-bottom: 2em;
}
.omf-restaurant__title > div {
  margin-left: 1em;
}

.omf-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
@media only screen and (width >= 1140px) {
  .omf-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }
}
.omf-menu__category {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (width >= 1140px) {
  .omf-menu__category {
    flex: 25%;
  }
}

.omf-category-title > h3 {
  margin: 0;
}
.omf-category-title::after {
  content: "";
  display: inline-block;
  width: 3.125em;
  margin: 0.5em 0 1em 0;
  padding: 0;
  border-top: 3px solid #99E2D0;
}

.omf-restaurant__order {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
