.step {
    position: relative;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
    padding: 1.5em 0;
    border-radius: 1.5em;
    background: lighten($color-lightgrey, 1%);
    text-align: center;
    box-shadow: 0 0.3em 0.8em darker-shift($color-lightgrey, 'shadow');

    >i {
        display: block;
        padding-left: 2em;
        color: darken($color-lightgrey, 25%);
    }

    >p {
        font-weight: 600;
        padding-right: 0.5em;
    }

    &__badge {
        width: 2em;
        height: 2em;
        padding-top: 0.5em;
        position: absolute;
        left: -1em;
        border-radius: 1em;
        background: $color-primary;
        text-align: center;
        color: $color-white;
    }

    &:hover {
        background: lighten($color-primary, 35%);
        >i{
            color: $color-primary;
        }
    }
}