.omf-homecard {
    height: 245px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    background: $colour-white;

    &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 2em;
    }

    &__img {
        height: 70%;
        width: 100%;
        border-radius: 2em 2em 0 0;
        overflow: hidden;
    }

    &__badge {
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        padding: 0.5em 0.75em;
        border-radius: 0.2em;
        background: $colour-tertiary;
        color: darken($colour-tertiary, 40%);

        >p {
            margin: 0;
            font-size: 0.75em;
            font-weight: 550;
            text-align: center;
        }
    }

    &__info {
        position: relative;
        padding-left: 1.5em;
        .omf-heart{
            position: absolute;
            top:2em;
            right: 2em;
        }
        >h3 {
            margin: 0.75em 0 0.5em 0;
        }

        >p {
            margin: 0.5em 0 0 0;
        }
    }

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex: 40%;
    }
}