* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1980px;
    margin: auto;
}

article {
    padding-bottom: 4em;
}

footer {
    background: $color-darkgrey;
    padding: 0 1.5em;

    @media only screen and (width >= map-get($breakpoints, desktop_S)) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $color-white;
}