body,
input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
footer>h2,
.omf-restaurant__title>h2 {
    font-family: 'Shrikhand', 'Roboto', sans-serif;
    font-weight: 400;
}

h1,
h2 {
    margin-top: 0;
    padding-top: 1rem;
}

footer {
    color: $color-white;
}

input {
    font-weight: 550;
}

.omf-restaurant__title>h2 {
    font-size: 1.75em;
}

.omf-category-title {
    >h3 {
        font-weight: 200;
        color: lighten($color-darkgrey, 20%);
    }
}