.omf-search,
.omf-restaurants-list {
    background: $color-lightgrey;
}

.omf-search {
    padding-bottom: 3em;
}

.omf-howto,
.omf-restaurants-list {
    padding: 3em 1.5em 4em 1.5em;
}

.omf-howto {
    background: $color-white;
}

.omf-restaurants-list {
    margin: 0;
}

.omf-howto__steps {
    width: 100%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex-direction: row;
        gap: 2em;
    }

    @media only screen and (width >=map-get($breakpoints, desktop_L)) {
        justify-content: space-between;
    }
}

.omf-restaurants-list__cards {
    width: 100%;
    display: flex;
    padding: 2em 0;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;

    @media only screen and (width > map-get($breakpoints, tablets)) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}